.form-profile.bg-light-gray.rounded.px3.py2
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .clearfix
      .col.col-4
        %img{:alt => "", :src => current_user.avatar.url(:thumb)}/ 
        .field-row
          = f.label :avatar
          %br/
          .file-field-wrap
            %span.typcn.typcn-cloud-storage
            = f.file_field :avatar, :class => 'field'
      .col.col-4.px2
        %div.py2
          .field-row
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}         
          .additional
            .field-row
              Username
              %br/
              = f.text_field :username, autocomplete: "off", :class => 'field'
      .col.col-4.px2
        %div
          .border-bottom.py2
            .field-row
              First name
              %br/
              = f.text_field :first_name, autocomplete: "off", :class => 'field'
            .field-row
              Last name
              %br/
              = f.text_field :last_name, autocomplete: "off", :class => 'field'
          .field-row
            Gender
            %br/
            = f.radio_button(:gender, "male")
            = label(:user_gender, "male")
            = f.radio_button(:gender, "female")
            = label(:user_gender, "female")
          .field-row
            Date of birth
            %br/
            = f.text_field :date_of_birth, autocomplete: "off", :class => 'field datepicker-date'
        .panel-add.bg-white.py2
          .container.white
            .actions.right
              = f.submit "Update", :class => "btn btn-primary bg-green"