.form-all.rounded.px3.py2
  %h2 Forgot your password?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .field-row
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: 'field'
    .actions.center
      = f.submit "Send me reset password instructions", :class=>"btn btn-primary bg-green"
.center.py2
  = render "devise/shared/links"
