.overflow-hidden.rounded.mb4
  %section
    .p2
      %h2.h1.center
        Projects
      .clearfix
        - @projects.each do |project|
          .col-4.col
            .p2.center.project-item
              %img{:alt => "", :src => project.cover.url(:medium)}/
              %h3.project-title
                = project.title
              .project-descr
                = project.description
              = link_to 'Read more <span class="typcn typcn-arrow-right"></span>'.html_safe, project, class: 'btn blue'     
    .center.mb3
      = link_to 'View all projects'.html_safe, projects_path, class: 'btn btn-primary bg-green'            
%hr/
.overflow-hidden.rounded
  %section
    .p2
      %h2.h1.center
        Volounteers
      .clearfix
        - @volounteers.each do |volounteer|
          .col-3.col
            .bg-light.rounded.clearfix
              .p3.center.volounteer-item.left
                = #volounteer.name
                %img.circle.border{:alt => "", :src => volounteer.avatar(:thumb), :width => "100", :height => "100"}/
    .center.m3
      = link_to 'Become a volounteer'.html_safe, projects_path, class: 'btn btn-primary bg-green'