.panel-add.bg-white.py2
  .container.white
    .clearfix.blue.tab-panel
      =link_to(my_invites_path(list: "accepted"), class: "left btn green btn-outline x-group-item rounded-left #{"active" if this_list?("accepted")}") do
        %span.typcn.typcn-tick
        Accepted
      =link_to(my_invites_path(list: "declined"), class: "left btn green btn-outline x-group-item not-rounded #{"active" if this_list?("declined")}") do
        %span.typcn.typcn-times
        Declined
      =link_to(my_invites_path(list: "pending"), class: "left btn green btn-outline x-group-item rounded-right #{"active" if this_list?("pending")}") do
        %span.typcn.typcn-tick-outline
        Pending
.mb2
  %h1
    My invites
- if @candidates.empty?
  .h1
    Yo haven't invites with status
    - if this_list?("accepted")
      %span.green
        "accepted"
    - if this_list?("declined")
      %span.red
        "declined"
    - if this_list?("pending")
      "pending"    
- @candidates.each do |candidate|
  .bg-light-gray.clearfix.rounded.px2.py1
    .col.col-3.px2
      %small.gray.gray
        Project Title:
      %br/
      = candidate.event.project.title
    .col.col-3.px2
      %small.gray.gray
        Start date:
        %br/
      = candidate.event.start_date.strftime("%d.%m.%Y %H:%I")
    .col.col-3.px2
      %small.gray.gray
        End date:
        %br/
      = candidate.event.end_date.strftime("%d.%m.%Y %H:%I")
    .col-3.col
      -if this_list?("pending") || this_list?("accepted")
        .right.px2
          %small
            = link_to '<span class="typcn typcn-arrow-back"></span> Leave event'.html_safe, accept_trigger_event_candidate_path(candidate.event, candidate, status: "decline"), method: :put, class: 'btn btn-outline red js-remove', data: {confirm: "Are you sure?"}
