.container
  %h1.px2
    Inviters for event
    = @event.note
    = @event.id
  - @candidates.each do |candidate|
    .clearfix
      .col.col-3.px2
        Candidate
        = candidate.user_id
      .col.col-3.px2
        Event id
        = candidate.event_id
        %br/
        Status
        = candidate.status
      .col.col-3.px2
        %small
          = link_to 'Decline', decline_trigger_event_candidate_path(@event, candidate), method: :put, class: 'btn btn-outline red'


  .clearfix.border-bottom.py1
