.py2.event-row
  .border.px2.rounded
    .clearfix
      .col.col-3
        .field-row
          = f.label :note
          %br/
          = f.text_field :note, class: "field", :required => true
      .col.col-3
        .field-row
          = f.label :start_date
          %br/
          = f.text_field :start_date, class: "field datepicker", :required => true, value: (f.object.start_date.nil?) ? '' : f.object.start_date.strftime("%d.%m.%Y %H:%I")
      .col.col-3
        .field-row
          = f.label :end_date
          %br/
          = f.text_field :end_date, class: "field datepicker", :required => true, value: (f.object.end_date.nil?) ? '' : f.object.end_date.strftime("%d.%m.%Y %H:%I")

      .col.col-2
        .field-row
          = f.label :status
          .select-field-wrap
            = f.select :status, options_for_select(Event::STATUSES)
      .col.col-1
        .right
          = f.hidden_field :_destroy
          = link_to "", "#", class: "js-remove-field typcn typcn-times red"
