= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message
  .field-row.field
    = f.label :title
    %br/
    = f.text_field :title, :required => true
  .field-row.field
    = f.label :description, :required => true
    %br/
    = f.text_area :description

  .actions
    = f.submit :class => "btn btn-primary bg-green mb2"