= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message
  .clearfix
    .col.col-4.px2
      .field-row
        = f.label :cover
        %br/
        %img{:alt => "", :src => @project.cover.url(:medium)}/
        %br/
        = f.file_field :cover, :class => "field"
    .col.col-6.px2
      .field-row
        = f.label :title
        %br/
        = f.text_field :title, :required => true, :class => "field"
      .field-row
        = f.label :description, :required => true
        %br/
        = f.text_area :description, :class => "field"
  #event_fields.event_fields.py2
    %h3 Events
    = f.fields_for :events do |event|
      = render 'event_fields', f: event

  .panel-add.bg-white.py2
    .container.white
      .actions.right
        = link_to_add_fields "Add event", f, :events
        = f.submit :class => "btn btn-primary bg-green"
