.container
  %h1.px2 All projects
  .clearfix
    - @projects.each do |project|         
      .col-4.col
        .p2.center.project-item
          .img-wrap
            = link_to "#{image_tag(project.cover.url(:medium))}".html_safe, project
          %h3.project-title
            = project.title
          .project-descr
            = project.description
          = link_to 'Read more <span class="typcn typcn-arrow-right"></span>'.html_safe, project, class: 'btn btn-outline green'
    = paginate @projects
.panel-add.bg-white.py2
  .container.white
    = link_to 'Add Project', new_project_path, {:class=>"btn btn-primary bg-green right"}