.container
  %h1.px2.center.mb2 My projects
  - @projects.each do |project|
    .py1
      .clearfix.border-bottom.py1
        .col.col-2.px2
          .img-wrap
            = link_to "#{image_tag(project.cover.url(:medium))}".html_safe, project
        .px2.col.col-3
          %small.date
            = project.created_at
          %h4
            = project.title
        .px2.col.col-3
          %h4
            Description:
          = project.description
          
        .right
          = link_to '<span class="typcn typcn-pencil"></span> Edit'.html_safe, edit_project_path(project), class: 'green btn'
          = link_to '<span class="typcn typcn-eye-outline"></span> View'.html_safe, project, class: 'green btn btn-outline'
.panel-add.bg-white.py2
  .container.white
    = link_to 'Add Project', new_project_path, {:class=>"btn btn-primary bg-green right"}