.container
  %h1.px2 My projects
  - @projects.each do |project|
    .py1
      .clearfix.border-bottom.py1
        .col.col-2.px2
          %img{:alt => "", :src => project.cover.url(:medium)}/
        .px2.col.col-3
          %small.date
            = project.created_at
          %h4
            = project.title
        .px2.col.col-3
          %h4
            Description:
          = project.description
          
        .right
          = link_to ' View', project, class: 'typcn typcn-eye-outline green btn'
          %br/
          = link_to ' Edit', edit_project_path(project), class: 'typcn typcn-pencil green btn'
          

.panel-add.bg-white.py2
  .container.white
    = link_to 'Add Project', new_project_path, {:class=>"btn btn-primary bg-green right"}