.container
  %h1 My projects
  - @projects.each do |project|
    .clearfix
      .px2.col.col-1
        = project.user_id
      .px2.col.col-3
        = project.title
      .px2.col.col-5
        = project.description
      .px2.col-1.right
        %small
          = link_to 'Show', project
          %br/
          = link_to 'Edit', edit_project_path(project)
          %br/
          = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
          %br/
%br/
.panel-bottom.bg-white.py2.border-top
  .container.white
    = link_to 'Add Project', new_project_path, {:class=>"btn btn-primary bg-green right"}