.container
  %h1.px2 My projects
  - @projects.each do |project|
    .py1
      .clearfix.border-bottom.py1
        .col.col-2.px2
          %img{:alt => "", :src => project.cover.url(:medium)}/
        .px2.col.col-3
          %h4
            = project.title
        .px2.col.col-3
          %h4
            Description:
          = project.description
        .right
          %small
            = link_to ' Show', project, class: 'typcn typcn-eye-outline green'
            %br/
            = link_to ' Edit', edit_project_path(project), class: 'typcn typcn-pencil green'
            %br/
            = link_to ' Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'typcn typcn-times red'
            %br/
%br/
.panel-bottom.bg-white.py2.border-top
  .container.white
    = link_to 'Add Project', new_project_path, {:class=>"btn btn-primary bg-green right"}