.container
  %p#notice= notice
  .clearfix.py3
    .col.col-3.px2
      - if @project.cover.url(:large)
        .img-wrap
          = link_to "#{image_tag(@project.cover.url(:medium))}<span class='typcn typcn-zoom-in-outline'><span>".html_safe, @project.cover.url(:large), class: "js-image-zoom hover-ico"
      - else
        %img{:alt => "", :src => @project.cover.url(:medium)}/
    .col.col-9.px2
      %div
        Created at 
        %small
          = (@project.created_at.nil?) ? '' : @project.created_at.strftime("%d.%m.%Y %H:%I")
      %h1.mt0
        = @project.title
      %div
        %strong 
        Description:
        = @project.description
  = render 'projects/parts/galleries_list'
  = render 'projects/parts/events_list'
- if is_user_organizer
  .panel-add.bg-white.py2
    .container.white
      .right
        = link_to '<span class="typcn typcn-pencil"></span> Edit'.html_safe, edit_project_path(@project), class: 'btn green'