.container
  %p#notice= notice
  .clearfix
    .col.col-3.px2
      %img{:alt => "", :src => @project.cover.url(:medium)}/
    .col.col-9.px2
      .py2
        %div
          %strong Title:
          = @project.title
        %div
          %strong Description:
          = @project.description
    .px2.mt3
      = link_to 'Edit', edit_project_path(@project), class: 'btn typcn typcn-pencil green'
  %h3.px2 Events
  - @project.events.map do |event|
    .m2
      .bg-light-gray.clearfix.rounded.px2.py1
        .col.col-3.px2
          %strong
            Note :
          = event.id
          = event.note
        .col.col-3.px2
          %strong
            Start date:
          = event.start_date
        .col.col-3.px2
          %strong
            End date:
          = event.end_date
        .col-3.col
          .right
            = link_to 'Invites', event_candidates_path(event), class: 'btn btn-primary bg-green'
            = link_to 'Register', event_candidates_path(event), method: :post, class: 'btn btn-primary bg-green'
