.container
  %p#notice= notice
  .clearfix
    .col.col-3.px2
      %img{:alt => "", :src => @project.cover.url(:medium)}/
    .col.col-9
      %div
        %strong Title:
        = @project.title
      %div
        %strong Description:
        = @project.description
    .px2.mt3
      = link_to 'Edit', edit_project_path(@project), :class => "btn btn-outline green mb2"
      \#{link_to 'Back', projects_path, :class => "btn green mb2"}