.page-header
  .container.py2.border-bottom
    .mx-2
      %a{:href => "/" , :class => "Logo"}
        VolounteerFinder
      .right
        - if user_signed_in?
          = link_to 'Projects', projects_path, :class=>"btn green"
          = link_to 'Projects My', list_projects_path, :class=>"btn green"
          .dropdown.relative.inline-block
            %button.btn.green{:type => "button"}
              Profile
              %span.typcn.typcn-arrow-sorted-down
            .dropdown-menu.absolute.right-0.nowrap.bg-white.border.rounded{"data-details" => ""}          
              = link_to '<span class="typcn typcn typcn-pencil"></span> Edit registration'.html_safe, edit_user_registration_path, :class=>"btn green border-bottom block"
              = link_to '<span class="typcn typcn-arrow-back"></span> Logout'.html_safe, destroy_user_session_path, :method => :delete, :class=>"btn green block"
        - else
          = link_to 'Login', new_user_session_path, :class => "btn green"
          = link_to 'Register', new_user_registration_path, :class => "btn btn-outline green typcn typcn-plus"